<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>SignalR Demo</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
    <script src="~/Scripts/handlebars.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
	@RenderBody()
    
    <script type="text/javascript">

        var novanet = novanet || { };

        novanet.signalR = {
            available: false
        };

        $.connection.hub.start().done(function () {
            novanet.signalR.availble = true;
            novanet.signalR.hubs = $.connection;
        });

    </script>

    @RenderSection("scripts", false)
</body>
</html>